/* Font Import */

@font-face {
  font-family: "JB";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff");
}

@font-face {
  font-family: "MG";
  src: url("/fonts/Mongoose.ttf") format("truetype");
}

/* Header Styles */

h1 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 120px;
  margin-block: 10px;
}

h2 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 100px;
  margin-block: 10px;
}

h3 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 80px;
  margin-block: 10px;
}

h4 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 60px;
  margin-block: 10px;
}

h5 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 40px;
  margin-block: 10px;
}

h6 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 20px;
  margin-block: 10px;
}

/* Paragraph and Link Styles */

p {
  font-family: 'JB';
  font-size: 16px;
}

a {
    color: #7CAB65;
    text-decoration: none;
}

/* [COLORS ARE CURRENTLY DISABLED TO PRESERVE AESTHETICS] */

a:hover {
    /* color: #7CAB65; */
    text-decoration: underline;
}

a:visited {
  /* color: #78A1BE; */
}

/* Horizontal Divider */

hr.one {
  border: 1px solid #FFB100;
  border-radius: 100px;
  width: 80%;
  margin-top: 40px;
  margin-bottom: 40px;
}

hr.two {
  border: 1px solid #FFB100;
  border-radius: 100px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* HORIZONTAL CENTER CLASS */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* Pill Styles */

.pill {
  display: block;
  text-align: left;
}

.pill-warning {
  background: #DB4A4C !important;
  color: #fff !important;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  padding: 10px 16px;
  width: auto;
}

.pill-highlight {
  background: #000 !important;
  color: #fff !important;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  padding: 10px 16px;
  width: auto;
}

/* Text Selection Highlight Style */

::selection {
  background: #FFB100;
  color: #FFFFFF;
}
::-moz-selection {
  background: #FFB100;
  color: #FFFFFF;
}

/* Button Styles */

.button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-family: MG;
  font-size: 60px;
  background: #000000;
  text-decoration: none;
  padding: 12px;
}

.button:hover {
  background: #FFB100;
  text-decoration: none;
  color: #fff;
}

.button:active {
 transform: scale(0.95);
}

@media only screen and (min-width: 300px) {
  body {
    background-color: white;
  }
}
  
@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

/* HEADER NAV BAR */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #000;
  border-radius: 10px;
}

.logo {
  margin-right: auto;
  height: auto;
  width: 166px;
}

.links {
  list-style: none;
  display: flex;
}

.links a, .cta {
  font-family: "JB";
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.links li {
  padding: 10px 30px;
}

.links li a {
  transition: all 0.1s ease 0s;
  padding: 10px 10px;
}

.links li a:hover {
  color: #FFB100;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 10px;
}

.cta {
  margin-left: 20px;
  padding: 10px 30px;
  background-color: #FFB100;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease 0s;
}

.cta:hover {
  color: #fff;
  background: linear-gradient(-45deg, #FFB100, #78A1BE, #DB4A4C);
  background-size: 400% !important;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes Gradient { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

footer {
  color: black;
  background-color: #EBEBF0;
  padding: 1px;
  border-radius: 10px;
  text-align: center;
  position: sticky;
  top: 100%;
}

/* RESPONSIVE MOBILE HEADER SETTINGS */

@media only screen and (max-width: 1000px) {

  header {
    background-color: #000;
    border-radius: 10px;
    padding: 30px 10%;
  }
  .cta {
    display: block;
  }
  .links {
    display: initial;
  }
}

img {
  border-radius: 10px;
}




* {
  box-sizing: border-box;
}

  
  .memory-game {
    width: 1600px;
    height: 840px;
    margin: left;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  @media only screen and (max-width: 600px) {
    .memory-game {
    width: 540px;
    height: 315px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    }
  }

  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    border-radius: 10px;
    background: #EBEBF0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }
  .back-face {
    width: 100%;
    height: 100%;
    padding: 50px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-color: #FFB100;
    border-radius: 10px;
    background: #000;
    backface-visibility: hidden;
  }