@font-face {
  font-family: "JB";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff");
}

@font-face {
  font-family: "MG";
  src: url("/fonts/Mongoose.ttf") format("truetype");
}

h1 {
  font-family: 'MG';
  font-weight:normal;
  font-style:normal;
}

h2 {
  font-family: 'MG';
  font-weight:normal;
  font-style:normal;
}

h3 {
  font-family: 'MG';
  font-weight:normal;
  font-style:normal;
}

h4 {
  font-family: 'MG';
  font-weight:normal;
  font-style:normal;
}

h5 {
  font-family: 'MG';
  font-weight:normal;
  font-style:normal;
}

h6 {
  font-family: 'MG';
  font-weight:normal;
  font-style:normal;
}

p {
  font-family: 'JB';
  font-weight:normal;
  font-style:normal;
}

a {
    color: #0A84FF;
    text-decoration: none !important;
}

a:hover {
    color: #0A84FF;
    text-decoration: underline !important;
}

a:visited {
  color: #fff000;
  text-decoration: none !important;
}

.pill-warning {
  display: block;
  text-align: left;
}
.pill {
  background: #FFC530 !important;
  color: #000 !important;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  padding: 10px 16px;
  width: auto;
}

