/* Font Import */

@font-face {
  font-family: "JB";
  src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff");
}

@font-face {
  font-family: "MG";
  src: url("/fonts/Mongoose.ttf") format("truetype");
}

/* Header Styles */

h1 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 120px;
}

h2 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 100px;
}

h3 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 80px;
}

h4 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 60px;
}

h5 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 40px;
}

h6 {
  font-family: 'MG';
  text-transform: uppercase;
  font-size: 20px;
}

/* Paragraph and Link Styles */

p {
  font-family: 'JB';
  font-size: 16px;
}

a {
    color: #7CAB65;
    text-decoration: none !important;
}

a:hover {
    color: #7CAB65;
    text-decoration: underline !important;
}

a:visited {
  color: #78A1BE;
  text-decoration: none !important;
}

/* Horizontal Divider */

hr.a {
  border: 1px solid #FFB100;
  border-radius: 100px;
}

/* Pill Styles */

.pill {
  display: block;
  text-align: left;
}

.pill-warning {
  background: #DB4A4C !important;
  color: #fff !important;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  padding: 10px 16px;
  width: auto;
}

.pill-highlight {
  background: #000 !important;
  color: #fff !important;
  border-radius: 10px;
  display: inline-block;
  font-size: 16px;
  padding: 10px 16px;
  width: auto;
}

/* Text Selection Highlight Style */

::selection {
  background: #FFB100;
  color: #FFFFFF;
}
::-moz-selection {
  background: #FFB100;
  color: #FFFFFF;
}

/* Button Styles */

.button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-family: MG;
  font-size: 60px;
  background: #000000;
  text-decoration: none;
  padding: 12px;
}

.button:hover {
  background: #FFB100;
  text-decoration: none;
  color: #fff;
}

.button:active {
 transform: scale(0.95);
}

@media only screen and (min-width: 300px) {
  body {
    background-color: lightgray;
  }
}
  
@media only screen and (max-width: 600px) {
  body {
    background-color: darkgray;
  }
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

nav-title {
    margin-right: auto;
    font-family: MG;
    font-size: 0.6em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-family: JB;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b2dfdb;
}
